include mixins/flash.pug

doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.4/css/all.css", integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm", crossorigin="anonymous")
    link(rel="stylesheet", href="/static/css/styles.css")
    script(src="/static/js/main.js", defer)
    block scripts
    title #{pageTitle} | #{siteName}
  body 
    if messages.error 
      +flash("error", messages.error)
    include partials/header.pug     
    main
      block content
    include partials/footer.pug