extends base.pug

block content 
  h1 Edit #{video.title}!
  form(method="POST") 
    input(name="title", type="text", placeholder="Write video title", value=video.title, required)
    input(type="submit", value="Save")