extends base.pug
include mixins/video.pug

block headerNav 
  nav 
        ul 
          li 
            a(href="/videos/upload") Upload Video

block content
  h1 Welcome to Wetube!
  each video in fakeVideos
    +video(video)
  else
    li Nothing was found.