extends base.pug
include ./mixins/video.pug

block content 
  form(method="GET") 
    input(type="text", placeholder="Search by title", name="keyword")
    input(type="submit", value="Search")
  hr
  div
    each video in videos 
      +video(video)