extends base.pug

block content 
  div  
    p=video.description
    small=video.createdAt
    ul 
      each hashtag in video.hashtags 
        li=hashtag
    hr
  a(href=`./${video.id}/edit`) Edit Video ➤