extends ../base.pug

block content 
  if errorMessage 
    span=errorMessage
  form(method="post") 
    input(type="password", required, placeholder="Old Password", name="oldPassword")
    input(type="password", required, placeholder="New Password", name="newPassword")
    input(type="password", required, placeholder="New Password Confirmation", name="newPassword2")
    input(type="submit", value="Change")